* {
  box-sizing: border-box;
}

#exibePrograms{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-evenly;
}

#exibePrograms img {
  margin: 5px;
  padding: 5px;

}